<div id="main">
  <h1>The Pics List</h1>
  <p>Ordered by rating</p>

  <table class="picsTable">
    <tbody>
    <% @pics.each do |pic| %>
        <tr>
          <td>
            <div class="image_container">
              <%= image_tag(pic.pic_url, :class => 'list_pic') %>
            </div>
          </td>
          <td class="hidden-phone">Rating:<br><%= pic.rating.round(0) %></td>
          <!--<td><%= link_to 'Delete This Pic', pic,
                               :confirm => 'Are you sure?', :method => :delete %></td>-->
    <% end %>
    </tbody>
  </table>
</div>