/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{

}

.cool{
	font-size: 13px;
}

.container{
    padding: 5px 0;
    overflow: hidden;
}

table tr td {
    vertical-align: middle;
}

footer{
    text-align: center;
    width: 100%;
}

.credits{
    padding: 20px;
    font-family: 'Lucida Grande','Lucida Sans Unicode','Verdana,Arial,Helvetica,sans-serif';
}

.big_notice{
    font-size: 3.5em;
}
