// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  text-align: center;
}

#main{
  width: 90%;
  margin: 0 auto;
  padding: 1%;
}
.section{
  width: 43%;
  min-width: 200px;
  padding: 1%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  //max-height: 500px;
  cursor: pointer;
  margin: 0 0 20px 0 ;
}

.section:hover{
  box-shadow: 10px 10px 10px gray;
  border: 2px solid red;
  background: white;
}

/*rate*/
.left{
  float: left;
  margin: 0 0 20px 30px;
}

.right{
  float: right;
  margin: 0 30px 0 0;
}

.select-img {
  width: 100%;
  margin: 0 auto;
}

/*list*/
.picsTable{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.list_pic{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.bold{
  font-weight: bold;
}

.centered{
  margin: 0 auto;
}

.current{
  display: none;

}

.page a, .next a, .last a, .prev a, .first a{
  background: #ffffff;
}
.page a:hover, .next a:hover, .last a:hover, .prev a:hover, .first a:hover{
  background: #ffffff;
  color: #8b0000;
}
